
<nav style="width: 100%; background-color: rgb(175, 117, 117);" class="navbar navbar-expand-lg navbar-dark ">
    <a class="navbar-brand" href="#" style="margin-left: 500px;">SUPERMARKET MANAGEMENT SYSTEM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" style="justify-content: flex-end;" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" href="/profile" style="color:rgb(215, 224, 213)">
            <img style="width:22px;margin: 2px;"src="https://static.vecteezy.com/system/resources/previews/005/544/718/non_2x/profile-icon-design-free-vector.jpg"><b style="font-size: 18px;"><%= currentUser.name.toUpperCase() %></b>
          </a>
      </li>
      
        
      </ul>
    </div>
  </nav>